<div class='row'>
  <% @user.dogs.each do |dog| %>
    <%= content_tag :div, class: ["dog-modal"] do %> 
      <%if dog.avatar.blank? %>
        <%= image_tag('https://i.imgflip.com/4l3w9.jpg', class: 'polaroid', data: {toggle: "modal", target: "#dog#{dog.id}"}) %>
      <% else %>
        <%= image_tag(dog.avatar.url(:medium), class: 'polaroid') %>
      <% end %>
      <p class='name'><%= dog.name %></p>
    <% end %>

    <%= content_tag :div, class: ["modal", "fade"], id: "dog#{dog.id}", tabindex: "-1", role: "dialog" do %> 
        <div class="modal-dialog modal-sm">
          <div class= "modal-content">

            <%if dog.avatar.blank? %>
              <%= image_tag('https://i.imgflip.com/4l3w9.jpg', class: 'dog-modal') %>
            <% else %>
              <%= image_tag(dog.avatar.url(:medium)) %>
            <% end %>
            <%= link_to edit_dog_path(dog) do %>
              <i class="fa fa-pencil-square-o pull-right" aria-hidden="true"></i>
            <% end %>

            <p class='josefin'>
              Name: <%= dog.name %><br>
              Breed: <%= dog.breed %><br>
              <%= dog.sex %><br>
              Age: <%= dog.age %><br>
              Vaccinated:
              <% if dog.vaccinated == true %>
                <i class="fa fa-check" aria-hidden="true"></i>
              <% else %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end %><br>
              Neutered:
              <% if dog.neutered == true %>
                <i class="fa fa-check" aria-hidden="true"></i>
              <% else %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end %><br>
              Weight: <%= dog.weight %> lb <br>
              Temperament: <%= dog.temperament %><br>
            </p>

          </div>
        </div>
    <% end %>

  <% end %>
</div>
