<h2 class='text-center'>Dogs</h2>

<div class='row'>
  <% @dogs.each do |dog| %>
    <%= content_tag :div, class: ["dog-modal"] do %>
      <div class='col-xs-12 col-sm-6 col-md-4'>

        <%if dog.avatar.blank? %>
          <%= image_tag('https://i.imgflip.com/4l3w9.jpg', class: 'dog-modal polaroid', data: {toggle: "modal", target: "#dog#{dog.id}"}) %>
        <% else %>
          <%= image_tag(dog.avatar.url(:large), class: 'dog-modal polaroid', data: {toggle: "modal", target: "#dog#{dog.id}"}) %>
        <% end %>
        <p class='name'><%= dog.name %></p>

      </div>
    <% end %>

    <%= content_tag :div, class: ["modal", "fade"], id: "dog#{dog.id}", tabindex: "-1", role: "dialog" do %>
      <div class="modal-dialog modal-sm">
        <div class= "modal-content">
          <div class='crop'>
          <%if dog.avatar.blank? %>
            <%= link_to image_tag('https://i.imgflip.com/4l3w9.jpg', class: 'dog-modal'), user_path(dog.user) %>
          <% else %>
            <%= link_to image_tag(dog.avatar.url(:medium), class: 'dog-modal'), user_path(dog.user) %>
          <% end %>
        </div>

          <p class='josefin'>
            Name: <%= dog.name %><br>
            Breed: <%= dog.breed %><br>
            <%= dog.sex %><br>
            Age: <%= dog.age %><br>
            Vaccinated:
            <% if dog.vaccinated == true %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% else %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %><br>
            Neutered:
            <% if dog.neutered == true %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% else %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %><br>
            Weight: <%= dog.weight %> lb <br>
            Temperament: <%= dog.temperament %><br>
          </p>

        </div>
      </div>
    <% end %>
  <% end %>
</div>
