<h2 class='text-center'>Dogs</h2>
<div class='wrapper'>
  <% @dogs.each do |dog| %>
    <%= content_tag :div, class: ["dog-modal"] do %>
      <section>
        <%if dog.avatar.blank? %>
          <%= image_tag('https://i.imgflip.com/4l3w9.jpg', class: 'dog-modal polaroid', data: {toggle: "modal", target: "#dog#{dog.id}"}) %>
        <% else %>
          <%= image_tag(dog.avatar.url(:large), class: 'dog-modal polaroid', data: {toggle: "modal", target: "#dog#{dog.id}"}) %>
        <% end %>
        <p class='name'><%= dog.name %></p>
    <% end %>
      </section>


    <%= content_tag :div, class: ["modal", "fade"], id: "dog#{dog.id}", tabindex: "-1", role: "dialog" do %>
      <div class="modal-dialog modal-sm">
        <div class= "modal-content">
          <%if dog.avatar.blank? %>
            <%= image_tag('https://i.imgflip.com/4l3w9.jpg', class: 'dog-modal') %>
          <% else %>
            <%= image_tag(dog.avatar.url(:medium), class: 'dog-modal') %>
          <% end %>

          <p class='josefin'>
            <span><%= dog.name %></span><br>
            Breed: <%= dog.breed %><br>
            <%= dog.sex %><br>
            Age: <%= dog.age %><br>
            Vaccinated:
            <% if dog.vaccinated == true %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% else %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %><br>
            Neutered:
            <% if dog.neutered == true %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% else %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %><br>
            Weight: <%= dog.weight %> lb <br>
            Temperament: <%= dog.temperament %><br>
          </p>
          <%= link_to "View Owner Profile", user_path(dog.user), class: 'btn btn-default dog-owner' %>
        </div>

      </div>
    <% end %>
  <% end %>
</div>
