<h2 class="text-center">Add dog</h2>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-4 col-md-offset-4">
    <%= form_for [@dog.user, @dog], html: { multipart: true } do |f| %>
      <%= f.file_field :avatar, class: 'form-control' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :breed %>
      <%= f.text_field :breed, class: 'form-control' %>

      <%= f.label :age %>
      <%= f.number_field :age, class: 'form-control' %>

      <%= f.label :sex %><br>
      <%= f.radio_button :sex, "Male", class: 'text-center' %> <label> Male </label>
      <%= f.radio_button :sex, "Female" %> <label> Female </label><br>

      <%= f.label :vaccinated %><br>
      <%= f.radio_button :vaccinated, "true" %> <label> Yes </label>
      <%= f.radio_button :vaccinated, "false" %> <label> No </label><br>


      <%= f.label :neutered %><br>
      <%= f.radio_button :neutered, "true" %> <label> Yes </label>
      <%= f.radio_button :neutered, "false" %> <label> No </label><br>

      <%= f.label :weight %> ( lb )
      <%= f.number_field :weight, class: 'form-control' %>

      <%= f.label :temperament %>
      <%= f.text_field :temperament, class: 'form-control' %><br>

      <%= f.submit "Submit", class: "btn btn-default" %>
    <% end %>

  </div>
</div>
