<section>
<% @user.invites.where(status: 1).each do |invite| %>
  <%= content_tag :div, class: ["#{invite.playdate.id}", "playdate", "col-xs-12 col-sm-12 col-md-7", 'block'] do %>
    <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=<%= invite.playdate.location %>&key=AIzaSyBmkOMQR7DSJ1IP7y6Bg3Uoxq4JeZH4MjM" allowfullscreen></iframe>
    <p class='josefin'>
      <% if current_user?(@user) %>
        <% if current_user == invite.playdate.user %>
          <%= link_to edit_playdate_path(invite.playdate) do %>
            <i class="fa fa-pencil-square-o pull-right" aria-hidden="true"></i>
          <% end %>
        <% end %>

        <h2><%= invite.playdate.title %></h2><br>

        <strong>Host:</strong>
        <%= invite.playdate.user.name %><br>

        <strong>Location:</strong>
        <%= invite.playdate.location %><br>

        <strong>Start Time:</strong>
        <%= invite.playdate.date.strftime("%r %m/%d/%Y") %><br>

        <strong>Description:</strong>
        <%= invite.playdate.description %><br>

        <strong>Attending:</strong>
        <% Invite
          .where(playdate_id: invite.playdate.id)
          .where('user_id != ?', current_user.id)
          .where(status: 1 ).each do |inv| %>
          <ul class='list-unstyled'>
            <li> <%= link_to inv.user.name, user_path(inv.user)%></li>
          </ul>
        <% end %>
      <% end %>
    </p>
  <% end %>
<% end %>
</section>
