<p id="notice"><%= notice %></p>
  <% @user.invites.where(status: 1).each do |invite| %>
    <%= content_tag :div, class: ["#{invite.playdate.id}", "playdate", "col-xs-12 col-sm-12 col-md-7", 'block'] do %>
      <p class='josefin'>
        <% if current_user?(@user) %>
          <%= link_to edit_playdate_path(invite.playdate) do %>
          <i class="fa fa-pencil-square-o pull-right" aria-hidden="true"></i>
        <% end %>
        <strong>Host:</strong>
        <%= invite.playdate.user.name %> <br>

        <strong>Location:</strong>
        <%= invite.playdate.location %> <br>

        <strong>Date:</strong>
        <%= invite.playdate.date.strftime("%m/%d/%Y") %><br>

        <strong>Description:</strong>
        <%= invite.playdate.description %> <br>

        <strong>Title:</strong>
        <%= invite.playdate.title %>
      </p>
    <% end %>
  <% end %>
<% end %>
