<h2 class='text-center'>Edit Playdate</h2>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-3">

    <%= form_for @playdate do |f| %>
      <% if @playdate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@playdate.errors.count, "error") %> prohibited this playdate from being saved:</h2>

          <ul>
          <% @playdate.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', required: true, maxlength: 200 %><br>

        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control', required: true %><br>

        <%= f.label :date %>
        <%= f.date_field :date, class: 'form-control', required: true%><br>
        Start Time
        <%= f.time_field :date, class: 'form-control', required: true %><br>

        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', required: true, maxlength: 1000 %>


        <%= f.submit 'OK', class: "btn btn-default" %><br><br>

    <% end %>

    <%= link_to 'Back', user_path(@playdate.user) %> | <%= link_to 'Delete', @playdate, method: :delete, data: { confirm: 'Are you sure you want to delete this playdate? Click OK to continue.' } %>
  </div>
</div>
