<%= form_for @user, html: {multipart: true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2 class='text-center'><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :image %>
    <% if @user.avatar.blank? %>
      <%= f.file_field :avatar, class: 'form-control', required: true %>
    <% else %>
      <%= f.file_field :avatar, class: 'form-control' %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', required: true, maxlength: 200 %>

    <%= f.label :city %>
    <%= f.text_field :city, class: 'form-control', required: true, maxlength: 59 %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', required: true, maxlength: 100 %>

    <%= f.label :password %>
    <% if @user.password_digest.nil? %>
      <%= f.text_field :password, class: 'form-control', required: true, maxlength: 25 %><br>
    <% else %>
      <%= f.text_field :password, class: 'form-control', maxlength: 25 %><br>
    <% end %>

    <%= f.submit 'OK', class: "btn btn-default" %>
<% end %>
