<% @user.invites.each do |invite|%>
  <%= content_tag :div, class: ["modal", "fade"], id: "invite#{invite.id}", tabindex: "-1", role: "dialog" do %> 
        <div class="modal-dialog modal-sm">
          <div class= "modal-content">
            <p class='josefin'>
              <h2 class="text-center"><%= invite.playdate.title %></h2>
              <p><%= invite.playdate.description%></p>
            </p>
            <p class="text-center">
              <%= button_to "Accept", edit_invite_path, method: "patch", controller: "invites", action: "update", params: {user_id: "#{invite.user.id}", playdate_id: "#{invite.playdate.id}", id: "#{invite.id}", status: "1"}, class: "btn btn-default" %>
              <%= button_to "Decline", edit_invite_path, method: "patch", controller: "invites", action: "update", params: {user_id: "#{invite.user.id}", playdate_id: "#{invite.playdate.id}", id: "#{invite.id}", status: "2"}, class: "btn btn-default" %>
            </p>
          </div>
        </div>
    <% end %>
<% end %>