
<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='col-xs-12 col-sm-4 col-md-4'>
    <%if @user.avatar.blank? %>
      <%= image_tag('http://sunfieldfarm.org/wp-content/uploads/2014/02/profile-placeholder.png', class: 'polaroid') %>
    <% else %>
      <%= image_tag(@user.avatar.url(:medium), class: 'polaroid') %>
    <% end %>

    <p class='name'>
      <%= @user.name %>
    </p>

    <p class='josefin'>
      📍 <%= @user.city %><br>
      <% if current_user?(@user) %>
        <%= link_to "Add Dog", new_user_dog_path(@user), class: 'btn btn-default btn-block' %>
        <%= link_to "Create Playdate", new_user_playdate_path(@user), class: 'btn btn-default btn-block' %>
      <% end %>
    </p>

    <% if current_user?(@user) %>
    <div class="panel list-group">
      <li class="list-group-item" data-toggle="collapse" data-target="#sm" data-parent="#menu"><%= @user.name %>'s Playdates <i class="fa fa-paw pull-right" aria-hidden="true"></i></li>
      <div id="sm" class="sublinks collapse playdates">
        <% @user.invites.where(status: 1).each do |invite| %>
          <%= content_tag :li, invite.playdate.title, id: "#{invite.playdate.id}", class: ["list-group-item"] %>
        <% end %>
      </div>
      <li class="list-group-item" data-toggle="collapse" data-target="#sl" data-parent="#menu">Invites <i class="fa fa-envelope pull-right" aria-hidden="true"></i></li>
      <div id="sl" class="sublinks collapse invites">
       <% @user.invites.where(status: 0).each do |invite|%>
        <%= content_tag :li, "Invite From: " + invite.playdate.user.name, class: ["list-group-item"], data: { toggle: "modal", target: "#invite#{invite.id}" } %>
       <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <div class='col-xs-12 col-sm-12 col-md-8'>
    <%= render 'dogs/show' %>
    <%= render 'playdates/show' %>
    <%= render 'users/invites' %>
  </div>

</div>
